html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main-nav__link {
    text-decoration: none;
}

.main-nav__link:hover {
    text-decoration: underline;
}

.page-header__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.definition-list__term {
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}